<aside class="sidebar">
  <div class="sidebar-logo">
    <img src="images/logo.png" alt="AutoFix" />
  </div>

  <nav class="sidebar-menu">
    <a routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="menu-item">
      <i class="bi bi-speedometer2"></i><span>Dashboard</span></a>
    <a routerLink="/admin/customers" routerLinkActive="active" class="menu-item">
      <i class="bi bi-people-fill"></i>
      <span>Customer</span>
    </a>
    <a routerLink="/admin/orders" routerLinkActive="active" class="menu-item">
      <i class="bi bi-receipt"></i>
      <span>Orders</span>
    </a>
    <a routerLink="/admin/services" routerLinkActive="active" class="menu-item">
      <i class="bi bi-receipt"></i>
      <span>services</span>
    </a>
    <a routerLink="/admin/payment" routerLinkActive="active" class="menu-item">
      <i class="bi bi-credit-card-fill"></i>
      <span>Payment</span>
    </a>
  </nav>
  <div class="logout" (click)="logout()">
    <i class="bi bi-box-arrow-right"></i>
    <span>Logout</span>
  </div>
</aside>
