.login-page {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #f4f7fb;

  padding: 20px;
}


.login-card {
  width: 100%;
  max-width: 420px;

  background: white;

  border-radius: 18px;

  padding: 35px;

  box-shadow:
    0 15px 45px rgba(0, 0, 0, 0.08);
}


.login-header {
  text-align: center;

  margin-bottom: 30px;
}


.logo-icon {
  width: 60px;
  height: 60px;

  margin: 0 auto 15px;

  border-radius: 16px;

  background: #1769ff;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
}


.login-header h2 {
  margin: 0;

  font-size: 25px;
}


.login-header p {
  margin-top: 8px;

  color: #8490a5;

  font-size: 13px;
}


.form-group {
  margin-bottom: 18px;
}


.form-group label {
  display: block;

  margin-bottom: 7px;

  font-size: 13px;
  font-weight: 600;
}


.input-box {
  height: 46px;

  border: 1px solid #dfe4ec;

  border-radius: 10px;

  display: flex;
  align-items: center;

  padding: 0 13px;

  gap: 10px;
}


.input-box i {
  color: #8b96a8;
}


.input-box input {
  width: 100%;

  border: none;
  outline: none;

  font-size: 14px;
}


.login-btn {
  width: 100%;
  height: 46px;

  margin-top: 8px;

  border: none;
  border-radius: 10px;

  background: #1769ff;
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
}


.error-message {
  background: #ffe8ed;
  color: #dc3545;

  border-radius: 8px;

  padding: 10px 12px;

  margin-bottom: 15px;

  font-size: 12px;

  display: flex;
  align-items: center;

  gap: 7px;
}

.login-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}